html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: #7fbd32;
}

h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #cbe432;
}

h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #448d76;
}

.row {
  display: flex;
  gap: 30px;
}

.col {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: calc(50% - 5px);
  padding: 5px;
  background-color: #f3f7d4;
  border-radius: 5px;
}

textarea {
  box-sizing: border-box;
  width: 100%;
  font-weight: 400;
  font-size: 32px;
  color: #7fbd32;
  line-height: 39px;
  border: 1px solid #448d76;
  resize: none;
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  color: #979797;
}

.text {
  height: 250px;
}

.posts {
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #448d76;
}

.posts p {
  color: #979797;
}

.post__title,
.post__text {
  padding: 5px;
  border-radius: 5px;
}

.post__title {
  background-color: #7fbd32;
}
.post__text {
  background-color: #cbe432;
}

.post__text {
  font-size: 26px;
  line-height: 35px;
}

.btn {
  width: 100%;
  font-family: inherit;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.public__btn {
  padding: 9px;
  background-color: #448d76;
  color: #f3f7d4;
}
